*{
    /* tira o padrão base do css (Deixa tudo Zerado) */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container-1{
    background-color: brown;
    display: flex; /* Ativa o flexbox */
    flex-direction: row;
    /*nowrap, wrap -> Indica se pode quebrar linha se não ouver espaço*/
    flex-wrap: wrap;
    /* flex-flow: row wrap; atalho para flex-direction e flex-wrap */
    padding: 12px;
    /* alinhamento do eixo main - start, end, center, space-between, space-around */
    justify-content: center; 
    /* alinhamento do eixo cross -  */
    align-items: center;   
    height: 600px;

}

.item-1{
    background-color: orange;
}

.item-2{
    background-color: greenyellow;
}

.item-3{
    background-color: gold;
    /* alinhar no eixo cross individualmente - flex-start, flex-end, center, stretch */
    align-self: flex-end;
}

.item-4{
    background-color: hotpink;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    width: 200px;
    padding: 8px;
}

.container-2{
    background-color: chocolate;
    height: 250px;
    display: flex;
}

.coluna-1{
    background-color: tan;
    flex:2;
}

.coluna-2{
    background-color: aqua;
    /* 1/2 */
    flex: 2;
    
}

.coluna-3{
    background-color: tomato;
    /* 1/2 */
    flex: 1;
}