.container h1, .container h2, .container h3{
    text-align: center;
    font-style: italic;
    font-weight: 100;
    color: blue;
}



.container h1{
    font-size: 3rem;
}

.container h2{
    font-size: 2.5rem;
}

.container h3{
    font-size: 2rem;
}

.container p{
    text-align: justify;
    font-size: 1.25rem;

}

/*Elemento raiz - Define o valor do REM*/
html{
    font-size: 16px
}