*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url("https://soulcode.com/assets/images/logo/light-logo.png");
    /* no-repeat , repeat-x , repeat-y */
    background-repeat: no-repeat;
    /* bottom, top, center, left, right */
    background-position: center;
    background-attachment: fixed; /*acompanha o scroll*/
    background-size: 500px; /* define a largura e altura será automatica*/

}

.card{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    border-radius: 8px;
    background-image: url("https://images.unsplash.com/photo-1440342359743-84fcb8c21f21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}